{% extends "common/layout.html" %}
{% block content1 %}
<div class="collapse navbar-collapse tm-nav" id="navbar-nav">
    <ul class="navbar-nav text-uppercase">
        <li class="nav-item">
            <a class="nav-link tm-nav-link" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link tm-nav-link" href="{{url_for('about')}}">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link tm-nav-link" href="{{url_for('services')}}">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link tm-nav-link" href="{{url_for('contact')}}">Contact</a>
        </li>
    </ul>
</div>
{% endblock %}
{% block content2 %}
<div class="tm-row">
    <div class="tm-col-left"></div>
    <main class="tm-col-right">
        <div class="man-center">
            <div class="man-box">
                <div class="man-box-content">
                    <img src="../static/img/about.png">
                </div>
            </div>
        </div>
        <hr class="mb-4">
        <div class="media my-3">
            <div class="media-body">
                <p>Hello everyone! My name is Chi Luan Ma and I am the founder of ManDoBrows, a beauty salon that
                    specializes in Permanent make up and Mini tattoos.
                    I spent most of my youth in a beautiful small country - Vietnam. In 2017, My wife and I moved to
                    Canada to settle down. I tried all kinds of jobs to support my family because my qualifications
                    were not recognized here. Despite all the difficulties and challenges, I discovered my passion
                    for beauty and especially for eyebrows.
                    In early 2022, I started taking online courses on eyebrow tattooing. In January 2023, I decided
                    to return to Vietnam to attend the HT Brows Academy, which is considered one of the best beauty
                    schools in Vietnam, to obtain a professional certification.
                    In April 2023, I was overjoyed to receive my diploma with honors.
                    Now, I’m confident in using my skills and knowledge to serve my clients. I hope that you can
                    trust me and help me succeed in this career path. In return, I will help you achieve the
                    confidence and beauty that you deserve.
                    Let's give each other the opportunity to grow together!</p>
            </div>
        </div>
    </main>
</div>
{% endblock %}