{% extends "common/layout.html" %}
{% block content1 %}
<div class="collapse navbar-collapse tm-nav" id="navbar-nav">
    <ul class="navbar-nav text-uppercase">
        <li class="nav-item">
            <a class="nav-link tm-nav-link" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link tm-nav-link" href="{{url_for('about')}}">About</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link tm-nav-link" href="{{url_for('services')}}">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link tm-nav-link" href="{{url_for('contact')}}">Contact</a>
        </li>
    </ul>
</div>
{% endblock %}
{% block content2 %}
<div class="tm-row">
    <div class="tm-col-left"></div>
    <main class="tm-col-right">
        <div class="row">
            <div class="left">
                <img class="imgCardService" src="../static/img/Natural_Hairstrokes.jpg" alt="Natural Hairstrokes">
            </div>
            <div class="right">
                <div class="service-content">
                    <h1>Natural Hairstrokes</h1>
                    <p>The Machine Hair Strokes technique creates the same realistic hair-strokes effect as
                        Microblading, but with a
                        machine rather than a hand tool. You get longer-lasting results and half the healing time
                        because
                        more
                        pigment is deposited without cutting into or “blading” the skin. This procedure is a terrific
                        option
                        for
                        people with significant skin conditions such as very oily skin, excessive bleeding, and
                        sensitive
                        skin.
                        The
                        Machine Hair Strokes procedure is used for enhancing the appearance of eyebrows in the same way
                        temporary
                        makeup would be used.It will enable you to look your best while saving time in the morning and
                        can
                        be
                        used
                        for people recovering from chemotherapy, alopecia, or scarring.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="left">
                <img class="imgCardService" src="../static/img/Powder_Brows.jpg" alt="Powder Brows">
            </div>
            <div class="right">
                <div class="service-content">
                    <h1>Powder Brows</h1>
                    <p>Powder brows is a cosmetic semi permanent makeup technique designed to create eyebrows with soft
                        powder
                        effect, very similar to powder makeup. Powder effect is done with a shading technique using a
                        permanent
                        makeup device, which is similar to a tattoo gun. For clients who draw on their eyebrows
                        everyday,
                        this
                        can be an amazing, beautiful solution. It is also a great alternative for clients that are not
                        good
                        candidates for Microblading or Combo Brows because their skin is too oily as shading is suitable
                        for
                        any
                        skin type!</p>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}