{% extends "common/layout.html" %}
{% block content1 %}
<div class="collapse navbar-collapse tm-nav" id="navbar-nav">
    <ul class="navbar-nav text-uppercase">
        <li class="nav-item">
            <a class="nav-link tm-nav-link" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link tm-nav-link" href="{{url_for('about')}}">About</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link tm-nav-link" href="{{url_for('services')}}">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link tm-nav-link" href="{{url_for('contact')}}">Contact</a>
        </li>
    </ul>
</div>
{% endblock %}
{% block content2 %}
<div class="tm-row">
    <div class="tm-col-left"></div>
    <main class="tm-col-right">
        <section class="tm-content tm-about">
            <div class="slider">
                <input type="radio" name="testimonial" id="t-1">
                <input type="radio" name="testimonial" id="t-2" checked>
                <input type="radio" name="testimonial" id="t-3">
                <div class="testimonials">
                    <label class="item" for="t-1">
                        <img class="serviceImg1" src="../static/img/Powder_Brows.jpg" alt="test1">
                    </label>
                    <label class="item" for="t-2">
                        <img class="serviceImg2" src="../static/img/Natural_Hairstrokes.jpg" alt="test2">
                    </label>
                    <label class="item" for="t-3">
                        <img class="serviceImg3" src="../static/img/services-1.jpg" id="id_item3">
                    </label>
                </div>
                <br />
                <div class="dots">
                    <label for="t-1"></label>
                    <label for="t-2"></label>
                    <label for="t-3"></label>
                </div>
            </div>
            <p id="info">
            <h1 class="test1">Natural Hairstrokes</h1>
            <p class="test2">The Machine Hair Strokes technique creates the same realistic hair-strokes effect as
                Microblading, but with a
                machine rather than a hand tool. You get longer-lasting results and half the healing time because more
                pigment is deposited without cutting into or “blading” the skin. This procedure is a terrific option for
                people with significant skin conditions such as very oily skin, excessive bleeding, and sensitive skin.
                The
                Machine Hair Strokes procedure is used for enhancing the appearance of eyebrows in the same way
                temporary
                makeup would be used.It will enable you to look your best while saving time in the morning and can be
                used
                for people recovering from chemotherapy, alopecia, or scarring.</p>
            </p>
        </section>
    </main>
</div>
{% endblock %}