{% extends "common/layout.html" %}
{% block content1 %}
<div class="collapse navbar-collapse tm-nav" id="navbar-nav">
    <ul class="navbar-nav text-uppercase">
        <li class="nav-item">
            <a class="nav-link tm-nav-link" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link tm-nav-link" href="{{url_for('about')}}">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link tm-nav-link" href="{{url_for('services')}}">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link tm-nav-link" href="{{url_for('contact')}}">Contact</a>
        </li>
    </ul>
</div>
{% endblock %}
{% block content2 %}
<div class="tm-row">
    <div class="tm-col-left"></div>
    <main class="tm-col-right tm-contact-main"> <!-- Content -->
        <section class="tm-content tm-contact">
            <h2 class="mb-4 tm-content-title">Contact Us</h2>
            <p class="mb-85" style="font-size: 1vw;">Thank you for getting in touch with me! I will reply soon</p>
        </section>
    </main>
</div>
{% endblock %}